emacs.d/auto-save-list/
emacs.d/backups/
emacs.d/bookmarks/
emacs.d/custom.el
emacs.d/org-journal.cache
emacs.d/projectile-bookmarks.eld
emacs.d/straight/
emacs.d/transient/
/emacs.d/bookmarks
/emacs.d/request/
/emacs.d/thumbs/
*.elc
/emacs.d/games/
