{;;beginning bracket for whole data structure -- don't delete!

 :profiles {
            :Ketan {
                    :default true
                    :sim     500    ;; simultaneous_threshold_milliseconds (def: 50)

                    :delay   80    ;; to_delayed_action_delay_milliseconds (def: 500)

                    :alone   500      ;; to_if_alone_timeout_milliseconds (def: 1000)

                    :held    1000   ;; to_if_held_down_threshold_milliseconds (def: 500)

                    }
            } ;; profiles

:templates {
            :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\" with parameter \"%s\"'"

            :open "open '%s'"
            :smarturl "osascript ~/.dotfiles/open_url_smart.scpt '%s'"
            :openwith "open -a '%s' '%s'"
            :openhide "open '%s' -gj"
            :withsecret "source ~/.dotfiles/.secrets && %s"
            :withsecretsmarturl "source ~/.dotfiles/.secrets && osascript ~/.dotfiles/open_url_smart.scpt %s"
            :alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
            :wallpaper "osascript -e 'tell application \"Finder\" to set desktop picture to POSIX file \"%s\"'"
            :elisp "/usr/local/bin/emacsclient --eval '(progn (select-frame-set-input-focus (selected-frame))%s)'"
            } ;; templates

:layers {

         :tab-mode {:key :tab
                    :afterup [{:set ["yabai-move-mode" 0]}
                              {:set ["yabai-focus-mode" 0]}
                              {:set ["yabai-display-mode" 0]}
                              {:set ["chrome-movement-mode" 0]}
                              {:set ["chrome-rearrange-tab-mode" 0]}]}

         :yabai-move-mode {:key :w :condi :tab-mode}
         :yabai-focus-mode {:key :f :condi :tab-mode}
         :yabai-display-mode {:key :d :condi :tab-mode}
         :chrome-movement-mode {:key :t :condi :tab-mode} ;;TODO make this work
         :chrome-history-mode {:key :g :condi :tab-mode} ;;TODO make this work
         :chrome-rearrange-tab-mode {:key :r :condi :tab-mode}
         :vim-mode {:key :z}
         :tilde-mode {:key :grave_accent_and_tilde}
}

:simlayers {
        :slash-mode {:key :slash}
        :q-key-mode {:key :q}
        :x-key-mode {:key :x}
        :jupyter-mode {:key :j}
        :o-key-mode {:key :o}
        :comma-mode {:key :comma}
        :wallpaper-mode {:key :w}
}

:main [{
        :des "see karabiner.org for documentation.",
        :rules [

[:right_command :right_command nil {:alone [:km "Previous Application" "hide"]}]
[:right_option :right_option nil {:alone [:km "Previous Application"]}]

[:##caps_lock :left_control nil {:alone :escape}]

:yabai-move-mode
[:h "/usr/local/bin/yabai -m window --warp west"]
[:j "/usr/local/bin/yabai -m window --warp south"]
[:k "/usr/local/bin/yabai -m window --warp north"]
[:l "/usr/local/bin/yabai -m window --warp east"]
[:b "/usr/local/bin/yabai -m space --balance"]
[:0 "/usr/local/bin/yabai -m window --opacity 0.0"]
[:1 "/usr/local/bin/yabai -m window --opacity 0.1"]
[:2 "/usr/local/bin/yabai -m window --opacity 0.2"]
[:3 "/usr/local/bin/yabai -m window --opacity 0.3"]
[:4 "/usr/local/bin/yabai -m window --opacity 0.4"]
[:5 "/usr/local/bin/yabai -m window --opacity 0.5"]
[:6 "/usr/local/bin/yabai -m window --opacity 0.6"]
[:7 "/usr/local/bin/yabai -m window --opacity 0.7"]
[:8 "/usr/local/bin/yabai -m window --opacity 0.8"]
[:9 "/usr/local/bin/yabai -m window --opacity 0.9"]
[:grave_accent_and_tilde "/usr/local/bin/yabai -m window --opacity 1.0"]
[:s "/usr/local/bin/yabai -m window --toggle split"]

:yabai-focus-mode
[:g "/usr/local/bin/yabai -m space --focus prev"]
[:h "/usr/local/bin/yabai -m window --focus west"]
[:j "/usr/local/bin/yabai -m window --focus south"]
[:k "/usr/local/bin/yabai -m window --focus north"]
[:l "/usr/local/bin/yabai -m window --focus east"]
[:semicolon "/usr/local/bin/yabai -m space --focus next"]

:yabai-display-mode
[:h "/usr/local/bin/yabai -m display --focus prev"]
[:j "/usr/local/bin/yabai -m window --display prev && /usr/local/bin/yabai -m display --focus prev"]
[:k "/usr/local/bin/yabai -m window --display next && /usr/local/bin/yabai -m display --focus next"]
[:l "/usr/local/bin/yabai -m display --focus next"]

:chrome-history-mode
[:h :!Copen_bracket]
[:l :!Cclose_bracket]

:chrome-movement-mode
[:h :!TStab]
[:l :!Ttab]

:chrome-rearrange-tab-mode
[:h :!TSleft_arrow]
[:l :!TSright_arrow]

:tab-mode
[:spacebar :!CTspacebar] ;; open emoji picker
[:return_or_enter  "/usr/local/bin/yabai -m window --toggle float"]
[:comma [:km "Open Messenger" "hide"]]
[:3 "osascript ~/.dotfiles/toggle_dark_mode.scpt"]
[:4 [:km "Open Finder"]]
[:a [:km "Open Safari" "hide"]]
[:x [:km "Open Chrome" "hide"]]
[:c [:km "Open Safari" "hide"]]
[:k [:km "Open Keyboard Maestro" "hide"]]
[:e [:km "Open Emacs" "hide"]]
[:i [:km "Open iTerm" "hide"]]
[:m [:km "Open Messages" "hide"]]
[:s [:km "Open Spotify" "hide"]]

[:v [:km "Open Zoom" "hide"]]

:q-key-mode
[:grave_accent_and_tilde [:km "Open Stickies"]]
[:a [:km "Open Safari"]]
[:x [:km "Open Chrome"]]
[:s [:km "Open Spotify"]]
[:c [:km "Open Safari"]]
[:k [:km "Open Keyboard Maestro"]]
[:e [:km "Open Emacs"]]
[:i [:km "Open iTerm"]]
[:m [:km "Open Messages"]]
[:comma [:km "Open Messenger"]]
[:n [:km "Open Neo4j"]]
[:v [:km "Open Zoom"]]

:x-key-mode
[:a [:elisp "(ketan0/switch-to-main-agenda)"]]
[:s [:elisp "(+org-capture/open-frame nil \"s\")"]]
[:t [:elisp "(+org-capture/open-frame nil \"t\")"]]
[:d [:elisp "(+org-capture/open-frame nil \"d\")"]]
[:i [:elisp "(+org-capture/open-frame nil \"i\")"]]
[:g "osascript ~/.dotfiles/org_roam_capture.scpt"] ;; create new org-roam note
[:spacebar [:elisp "(+org-capture/open-frame)"]]
[:r [:elisp "(org-roam-node-random)"]]
[:j [:elisp "(org-journal-new-entry nil)"]]

:tilde-mode
[:f [:openhide "focus://focus?minutes=60"]]
[:t [:openhide "focus://toggle"]]
[:u [:openhide "focus://unfocus"]]
[:comma [:open "focus://preferences"]]

:comma-mode
[:1 [:withsecretsmarturl "$PSYCH_LECTURE_LINK"]]
[:3 [:withsecret "open $PAC_PROJECT_ZOOM_LINK"]]

[:a [:elisp "(setq mac-use-title-bar t)(setq ketan0/old-frame (selected-frame)) (make-frame)(delete-frame ketan0/old-frame)"]]
[:b "osascript ~/.dotfiles/open_in_chrome.scpt"]
[:c [:open "/Users/ketanagrawal/org_private/capture.org"]]
[:d [:open "https://drive.google.com/drive/my-drive"]]
[:o [:open "http://doc.new"]] ;; new google doc
[:e [:open "/Users/ketanagrawal/.dotfiles/doom.d/config.el"]]
[:f [:smarturl "https://www.keyhero.com/free-typing-test/"]]



[:i [:smarturl "https://www.keyhero.com/typing-instant-death/"]]
[:j [:smarturl "http://localhost:8888"]]
[:l "osascript /Users/ketanagrawal/.dotfiles/open_current_zoom_link.scpt"]
[:m [:smarturl "https://outlook.office.com/"]]
[:n [:openwith "Google Chrome" "https://www.netflix.com/title/80199128"]]
[:p [:withsecretsmarturl "$PAC_PROGRESS_DOC_LINK"]]
[:t [:smarturl "https://twitter.com/i/bookmarks"]]
[:r [:open "/Users/ketanagrawal/org_private/todos.org"]]
[:s [:open "/Users/ketanagrawal/.dotfiles/karabiner.org"]]

[:v [:openwith "Emacs" "/Users/ketanagrawal/Dropbox/Apps/GoodNotes 5/GoodNotes/vision.pdf"]]
[:y [:openwith "Emacs" "/Users/ketanagrawal/.dotfiles/yabairc"]]
[:z [:withsecret "open $MY_ZOOM_LINK"]]



:wallpaper-mode
[:g [:wallpaper "/System/Library/Desktop Pictures/Solar Gradients.heic"]]
[:s [:wallpaper "/Users/ketanagrawal/Desktop/wallpapers/simple-subtle-abstract-dark-minimalism-4k-u9.jpg"]]
[:x [:wallpaper "/Users/ketanagrawal/Desktop/wallpapers/paint_colorful_overlay_139992_1440x900.jpg"]]
[:y [:wallpaper "/Users/ketanagrawal/Desktop/wallpapers/background_paint_stains_light_76087_1440x900.jpg"]]

:vim-mode
[:#Sh :left_arrow] ;; hjkl navigation everywhere + Shift
[:#Sj :down_arrow]
[:#Sk :up_arrow]
[:#Sl :right_arrow]
[:#Sb :!Oleft_arrow]
[:#Sw :!Oright_arrow]
[:delete_or_backspace :!Odelete_or_backspace]

:jupyter-mode
[:l [:km "Start or Go to Existing Jupyter Lab Server"]]

]}] ;;end main

:applications [

               :Emacs ["^org\\.gnu\\.Emacs$"]
               :Chrome ["^com\\.google\\.Chrome$", "^org\\.chromium\\.Chromium$", "^com\\.google\\.Chrome\\.canary$"]

               ]

} ;;ending bracket for whole data structure -- don't delete!
